
.container {
  background-image: url('../fundoDesktop.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*width: 100vw;*/
  position: relative;
}

/* Media query para dispositivos móveis */
@media (max-width: 768px) {
  .container {
    background-image: url('../fundoMilion.png');
  }

  .logo {
    width: 80%; /* Reduz a largura da logo */
    height: auto; /* Mantém a proporção */
  }

  .button {
    width: 20%; /* Ajusta a largura do botão */
    height: 40px; /* Ajusta a altura do botão */
  }
}

/* Ajustes para dispositivos móveis */
/*@media (max-width: 768px) {*/
/*    .container {*/
/*        background-image: url('../bgInicio.png');*/
/*        background-position: center center; !* Centraliza a imagem de fundo *!*/
/*    }*/
/*}*/

/*@media (max-width: 480px) {*/
/*    .container {*/
/*        background-image: url('../bgInicio.png');*/
/*        background-position: center center; !* Centraliza a imagem de fundo *!*/
/*    }*/
/*}*/
