.imageContainer {
  position: relative;
  width: 180px; /* Ajuste para ser maior que o timer */
  height: 200px; /* Ajuste para ser maior que o timer */
  background-image: url('../time.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: -20px;
}

.timerContainer {
  width: 120px; /* Tamanho menor do timer */
  height: 120px; /* Tamanho menor do timer */
  position: relative;
}

.timerSvg {
  width: 100%;
  height: 100%;
  transform: rotate(0deg); /* Remova ou ajuste a rotação */
}

.circleBg {
  fill: none;
  stroke: #2B4BC5;
  stroke-width: 5;
}

.circle {
  fill: none;
  stroke: var(--primary-text-color);
  stroke-width: 3;
  stroke-linecap: round;
  transition: stroke-dasharray 0.3s ease;
}

.ending {
  stroke: #0E0F51;
}

.timerText {
  fill: var(--primary-text-color);
  font-size: 1em;
  text-anchor: middle;
  dominant-baseline: middle;
  font-weight: bold;
  /*font-size: x-large;*/
}

.shake {
  animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}



/* Media queries para dispositivos móveis */
@media only screen and (max-width: 768px) {
  .imageContainer {
    width: 100px; /* Ajuste para ser maior que o timer */
    height: 100px; /* Ajuste para ser maior que o timer */
    margin-left: 45px;
  }

  .timerContainer {
    width: 65px;
    height: 65px;

  }
}
